<h1>Testing Cucumber&apos;s ability to check Ajax features</h1>
<p id="color">
  <%= render :partial => "green" %>
</p>
<p>
  <%= link_to "Back", :action => "index" %>  <%= link_to "Red", :action => "red" %>
</p>
