<h1>Testing Cucumber&apos;s ability to check Ajax features</h1>
<p id="color">
  <%= render :partial => "green" %>
</p>
<p>
  <%= link_to "Back", :action => "index" %>
  <%= link_to_remote "Red", :update => "color", :url => {:action => "red"}, :html => { :href => url_for({:action => "red"}) }  %>
</p>
