<h1>Testing Cucumber&apos;s ability to check Ajax features</h1>
<p>
<%= render :partial => 'red' %>
</p>
<p>
  <%= link_to "Back", :action => "index" %>   <%= link_to "Green", :action => "green" %>
</p>
