<h1>Testing Cucumber&apos;s ability to check Ajax features</h1>
<p id="color">
<%= render :partial => 'red' %>
</p>
<p>
  <%= link_to "Back", :action => "index" %> 
  <%= link_to_remote "Green", :update => "color", :url => {:action => "green"}, :html => { :href => url_for({:action => "green"}) }  %>
</p>
